.chatInterface{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chatSpace{
    flex: 8;
    display: flex;
    flex-direction: column;
}

.textSpace{
    flex: 1;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: inset 6px 6px 12px #cacaca;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textBox{
    box-shadow: inset 6px 6px 12px #cacaca, inset -6px -6px 12px #ffffff;
    flex: 8;
    margin-left: 2%;
    border-radius: 30px;
    padding-left: 3%;
    padding-right: 3%;
    height: 60%;
    display: flex;
    align-items: center;
}

.textSendBtn{
    flex: 1;
    display: flex;
    justify-content: center;
}

.btn_resize {
    width: 45px;
    height: 45px;
}