.bgDiv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
}

.loginContainer {
    height: 70%;
    width: 40%;
    background: #e8e8e8;
    box-shadow:  24px 24px 51px #cacaca,
             -24px -24px 51px #ffffff;
}